@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;1,100;1,500&family=Mukta:wght@200;400;800&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;0,600;1,100;1,500&family=Mukta:wght@200;400;800&family=Open+Sans:wght@300&family=Playfair+Display:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    font-size: 16px;
}
header{
    position: fixed;
    z-index: 2;
    max-width: 1366px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #DBDBDB;
    background-color: white;
}

.header_menu {
    display: none;
}

.header_logo {
    width: 15%;
    text-align: center;
}

.header_logo img {
    width: 8vw;
}

nav {
    width: 50%;
    color: #9767A9;
    font-size: 1rem;

}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 49.5vw;
}

nav a {
    text-decoration: none;
}

nav li {
    font-size: 1vw;
    text-decoration: none;
}

header input {
    border-radius: 10px;
    padding-left: 2vw;
    border: 2px solid #9767A9;
    height: 3.9vh;
    width: 12%;
    background-image: url('img/Layer_3.png');
    background-size: 10%;
    background-position: 3px 2px;
    background-repeat: no-repeat;
    font-size: .4rem;

}

header input::placeholder {
    text-align: center;


}

.header_icon {
    width: 10%;
}

.header_icon img {
    width: 3vh;

}

main {
    max-width: 1366px;
    width: 100%;
    margin: auto;
}

.main_first {
    background-image: url("img/cabeludo7.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 41.1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_first_titulo{
    display: flex;
    justify-content: space-evenly;
    width: 98vw;
    color: white;
}

.main_first_titulo h1{
    font-size: 6vw;
    height: 40vh;
    width: 30vw;
    line-height: 90px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
}

.main_first_titulo p {
    font-size: 2.5vw;
    font-weight: 300;
    width: 29vw;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.main_first_texto {
    background-color: #9767A9;
    height: 50vh;
    display: flex;
}

.titulo {
    width: 91vw;
    display: flex;
    justify-content: center;
}

.main_first_texto h2 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 3vw;
    color: white;
    width: 44vw;
    height: 50vh;
    text-align: left;
    display: flex;
    justify-content: center;
}

.paragrafo_responsivo {
    display: none;
}

.paragrafo_principal {
    font-size: 1.5vw;
    color: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    text-align: left;
    margin-top: 20px;
}

.paragrafo_principal p {
    width: 42vw;
}

.main_second {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.main_second h2 {
    font-family: 'Playfair Display', sans-serif;
    color: white;
    font-size: 1.9vw;
}

.main_second p {
    font-size: .90vw;
}

.BoxImpar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 25px;
    height: 400vh;

}

.BoxUm figcaption {
    position: absolute;
    bottom: 75%;
    left: 12%;
    height: 40vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.BoxUm figcaption h2 {
    margin-left: 1vw;

}

.BoxUm figcaption p {
    text-align: left;
    width: 23vw;
    color: #FFFFFF;

}

.BoxTres figcaption {
    position: absolute;
    height: 41vh;
    bottom: 50%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    height: 30vh;
}

.BoxTres figcaption h2 {
    width: 16vw;
    margin-right: 4vw;
}

.BoxTres figcaption p {
    width: 20vw;
    color: #FFFFFF;
}

.BoxCinco figcaption {
    position: absolute;
    bottom: 22%;
    left: 13%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 26vw;
    height: 33vh;
}

.BoxCinco figcaption h2 {
    margin-right: 5vw;

}

.BoxCinco figcaption p {
    width: 24vw;
    color: #FFFFFF;
    text-align: left;

}

.BoxSete figcaption {
    position: absolute;
    top: 95%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 25vw;
    height: 30vh;
}

.BoxSete figcaption h2 {
    margin-right: 2vw;
}

.BoxSete figcaption p {
    width: 21vw;
}

.main_second figcaption {
    background-color: #9767A9;
}


.main_second img {
    width: 40vw;
    height: 70vh;
}

.BoxOito img {
    width: 30vw;
    height: 20vh;
}

.BoxPar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 340vh;
}

.BoxDois figcaption {
    position: absolute;
    bottom: 77.5%;
    left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 27vw;
    height: 36vh;
}

.BoxDois figcaption h2 {
    margin-right: 6vw;
}

.BoxDois figcaption p {
    width: 24vw;
    color: #FFFFFF;
}

.BoxQuatro figcaption {
    position: absolute;
    bottom: 45%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 28vw;
    height: 29vh;
}

.BoxQuatro figcaption p {
    width: 25vw;
    color: #FFFFFF;
}

.BoxSeis figcaption {
    position: absolute;
    bottom: 12%;
    left: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vw;
    justify-content: space-evenly;
    height: 29vh;
}

.BoxSeis figcaption h2 {
    margin-right: 5vw;
}

.BoxSeis figcaption p {
    width: 23.1vw;
    color: #FFFFFF;
}

.MainSecondResponsivo {
    display: none;
}
@media (max-width:500px) {
    
    header {
        height: 9vh;
        position: initial;
    }

    header input{
        display: none;
    }

    .header_icon{
        display: none;
    }

    nav {
        display:none;
    }

    .header_menu{
        display: initial;
        position: absolute;
        top:0;
        right: 70%;
        display: flex;
        flex-direction: column;

    }

    .header_menu img {
        width: 10vw;
        height: 9vh;
    }

    .header_menu ul {
        list-style: none;
        font-size: 0.75rem;
        opacity: 0;
        width: 30vw;

    }

    .header_menu li {
        color: white;
        text-decoration: none;
        height: 5vh;
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    li:hover {
        background-color: #AC95BB;
    }

    .header_menu a {
        text-decoration: none;
        color: white;
    }

    .header_menu:hover ul {
        background-color: #9767A9;
        opacity: 100%;
    }

    .header_logo img {
        width: 15vw;
        height: ;
    }

    .main_first {
        background-image: url(img/cabeludo2.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vw;

    }

    .main_first_titulo {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .main_first_titulo h1 {
        width: 60vw;
        height: 40vh;
        font-size: 13vw;
        font-weight: 800;
        text-align: ;
        display: flex;
        align-items: flex-start;
        margin-left: 5vw;
    }

    .main_first_titulo p {
        margin-left: 5vw;
        height: 40vh;
        width: 60vw;
        font-size: 5vw;
        display: flex;
        align-items: flex-start;
    }

    .main_first_texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100vh;
    }

    .main_first_texto h2 {
        font-size: 5vw;
        width: 71vw;
        height: 20vh;
    }

    .paragrafo_principal {
        display: none;
    }

    .paragrafo_responsivo {
        display: initial;
        color: white;
        font-weight: 100;
        height: 70vh;
        line-height: 4vh;
    }

    .paragrafo_primeiro {
        width: 70vw;
        height: 15vh;
        margin-left: 10vw;
    }

    .paragrafo_segundo {
        width: 70vw;
        height: 25vh;
        margin-left: 10vw;
    }

    .paragrafo_terceiro {
        width: 70vw;
        height: 25vh;
        margin-left: 10vw;
    }

    .BoxImpar {
        display: none;
    }

    .BoxPar {
        display: none;
    }

    .MainSecondResponsivo {
        display: initial;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: solid;
        width: 100%;
        position: relative;
        height: 4400px;
    }

    .MainSecondResponsivo figure {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .MainSecondResponsivo img {
        width: 80vw;
    }

    .MainSecondResponsivo figcaption {
        width: 100%;

    }
    .MainSecondResponsivo figcaption h2{
        font-size: 3.5vw;
    }
    .MainSecondResponsivo figcaption p{
        font-weight: 200;
        color: #FFFFFF;
    }

    .ResposivoTexto1 {
        position: absolute;
        top: 4.9%;
        height: 67vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto1 h2{
        margin-right: 16vw;
        width: 35vh;
    }
    .ResposivoTexto1 p{
        font-size: 2vw;
        color: #FFFFFF;
        width: 54vw;
        height: 12vh;
        font-size: 2.5vw;
        line-height: 3vh;
    }
    .ResposivoTexto1 p:nth-child(3){
        height: 9vh;
    }
    .ResposivoTexto1 p:nth-child(4){
        height: 7vh;

    }
    .ResposivoTexto2 {
        position: absolute;
        height: 52vh;
        top: 21%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto2 h2{
        width: 70vw;
    }
    .ResposivoTexto2 p{
        width: 70vw;
        font-size: 2.5vw;
        line-height: 3vh;
    }

    .ResposivoTexto3 {
        position: absolute;
        top: 35%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto3 p{
        width: 54vw;
        font-size: 2.5vw;
        line-height: 3vh;
        
    }

    .ResposivoTexto4 {
        position: absolute;
        top: 50%;
        height: 42vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto4 h2{
        width: 53vw;
    }
    .ResposivoTexto4 p{
        font-size: 2.5vw;
        width: 53vw;
        line-height: 3vh;
    }

    .ResposivoTexto5 {
        position: absolute;
        top: 60%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto5 h2{
        width: 60vw;
    }
    .ResposivoTexto5 p{
        font-size: 2.8vw;
        width: 61vw;
        line-height: 3vh;
        height: 35vh;
    }

    .ResposivoTexto6 {
        position: absolute;
        top: 77%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto6 h2{
        width: 50vw;
    }
    .ResposivoTexto6 p{
        font-size: 2.8vw;
        line-height: 3vh;
        width: 50vw;
    }

    .ResposivoTexto7 {
        position: absolute;
        top: 90%;
        height: 45vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .ResposivoTexto7 p{
        font-size: 2.8vw;
        line-height: 3vh;
        width: 60vw;
    }

    .ResposivoTexto8 img{
        width: 40vw;
        height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        
    }


}